.dialogs {
    color: black;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #01B7F0;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}